<html>
<head>
<title>fragment_weather.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_weather.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;</span><span class="s1">FrameLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;edu.univorleans.winteriscoming.WeatherFragment&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
    </span><span class="s0">&lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:gravity=</span><span class="s3">&quot;center_vertical|center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;gravity&quot;</span><span class="s0"> 
            </span><span class="s2">android:textSize=</span><span class="s3">&quot;24sp&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;</span><span class="s1">ImageView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/imageView&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;2&quot;</span><span class="s0"> 
            </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
            </span><span class="s2">android:elevation=</span><span class="s3">&quot;0dp&quot;</span><span class="s0"> 
            </span><span class="s2">app:srcCompat=</span><span class="s3">&quot;@mipmap/ic_launcher&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/descTextView&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/fgColor&quot;</span><span class="s0"> 
            </span><span class="s2">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s0"> 
            </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;2&quot;</span><span class="s0"> 
            </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/tempTextView&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
                </span><span class="s2">android:elevation=</span><span class="s3">&quot;0dp&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s0"> 
                </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/fgColor&quot;</span><span class="s0"> 
                </span><span class="s2">android:textSize=</span><span class="s3">&quot;36sp&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
                </span><span class="s2">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
                </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
                    </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/windTextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
                    </span><span class="s2">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/fgColor&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textSize=</span><span class="s3">&quot;24sp&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
                </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
                    </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/humidityTextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
                    </span><span class="s2">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/fgColor&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textSize=</span><span class="s3">&quot;24sp&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
                </span><span class="s0">&lt;</span><span class="s1">TextView</span><span class="s0"> 
                    </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/pressureTextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
                    </span><span class="s2">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/fgColor&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textSize=</span><span class="s3">&quot;24sp&quot;</span><span class="s0"> 
                    </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span><span class="s4"> 
        </span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span><span class="s4"> 
    </span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span><span class="s4"> 
</span><span class="s0">&lt;/</span><span class="s1">FrameLayout</span><span class="s0">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>